Rohit's First Kernal - NYC Taxi Fare Prediction
===========
This is the first kernal for submission for Google Cloud Playground [New York City Taxi Fare Prediction](https://www.kaggle.com/c/new-york-city-taxi-fare-prediction)

Strategy
--------------------
1. Filter out outliers
    1. Remove data outside NYC
    2. Remove data where fare is unresonable (too high / too low)
2. Use Linear Regression ML Model On Clean Data
3. Use Linear Fit On Unclean Data

Using NYC Open Data
-------------------
NYC Open Data is stored in Google Big Query open datasets. To access this data in your notebook, check out kernal [How to Query the NYC Open Data
](https://www.kaggle.com/paultimothymooney/how-to-query-the-nyc-open-data)

In [94]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt

# to plot 3d scatter plots
from mpl_toolkits.mplot3d import Axes3D

import math

# to print out current time
import datetime
import os

import tensorflow as tf
import shutil
print(tf.__version__)

1.10.0

In [95]:
#disable GPU for now
os.environ["CUDA_VISIBLE_DEVICES"]="-1"

In [96]:
BATCH_SIZE = 5

# Try to load the data. This may be an intensive process
df_train = pd.read_csv(r'M:\kaggle\NY Taxi Cab\input\train.csv', nrows = 100, parse_dates=["pickup_datetime"]);

In [97]:
df_train.head(n=100)

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.50,2009-06-15 17:26:21,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.90,2010-01-05 16:52:16,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.70,2011-08-18 00:35:00,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.70,2012-04-21 04:30:42,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.30,2010-03-09 07:51:00,-73.968095,40.768008,-73.956655,40.783762,1
5,2011-01-06 09:50:45.0000002,12.10,2011-01-06 09:50:45,-74.000964,40.731630,-73.972892,40.758233,1
6,2012-11-20 20:35:00.0000001,7.50,2012-11-20 20:35:00,-73.980002,40.751662,-73.973802,40.764842,1
7,2012-01-04 17:22:00.00000081,16.50,2012-01-04 17:22:00,-73.951300,40.774138,-73.990095,40.751048,1
8,2012-12-03 13:10:00.000000125,9.00,2012-12-03 13:10:00,-74.006462,40.726713,-73.993078,40.731628,1
9,2009-09-02 01:11:00.00000083,8.90,2009-09-02 01:11:00,-73.980658,40.733873,-73.991540,40.758138,2
10,2012-04-08 07:30:50.0000002,5.30,2012-04-08 07:30:50,-73.996335,40.737142,-73.980721,40.733559,1
11,2012-12-24 11:24:00.00000098,5.50,2012-12-24 11:24:00,0.000000,0.000000,0.000000,0.000000,3
12,2009-11-06 01:04:03.0000002,4.10,2009-11-06 01:04:03,-73.991601,40.744712,-73.983081,40.744682,2
13,2013-07-02 19:54:00.000000232,7.00,2013-07-02 19:54:00,-74.005360,40.728867,-74.008913,40.710907,1
14,2011-04-05 17:11:05.0000001,7.70,2011-04-05 17:11:05,-74.001821,40.737547,-73.998060,40.722788,2
15,2013-11-23 12:57:00.000000190,5.00,2013-11-23 12:57:00,0.000000,0.000000,0.000000,0.000000,1
16,2014-02-19 07:22:00.00000074,12.50,2014-02-19 07:22:00,-73.986430,40.760465,-73.988990,40.737075,1
17,2009-07-22 16:08:00.000000163,5.30,2009-07-22 16:08:00,-73.981060,40.737690,-73.994177,40.728412,1
18,2010-07-07 14:52:00.00000044,5.30,2010-07-07 14:52:00,-73.969505,40.784843,-73.958732,40.783357,1
19,2014-12-06 20:36:22.0000008,4.00,2014-12-06 20:36:22,-73.979815,40.751902,-73.979446,40.755481,1
20,2010-09-07 13:18:00.000000175,10.50,2010-09-07 13:18:00,-73.985382,40.747858,-73.978377,40.762070,1
21,2013-02-12 12:15:46.0000002,11.50,2013-02-12 12:15:46,-73.957954,40.779252,-73.961250,40.758787,1
22,2009-08-06 18:17:23.0000001,4.50,2009-08-06 18:17:23,-73.991707,40.770505,-73.985459,40.763671,1
23,2010-12-06 12:29:00.000000199,4.90,2010-12-06 12:29:00,-74.000632,40.747473,-73.986672,40.740577,1
24,2009-12-10 15:37:00.00000020,6.10,2009-12-10 15:37:00,-73.969622,40.756973,-73.981152,40.759712,1
25,2011-06-21 16:15:00.00000073,7.30,2011-06-21 16:15:00,-73.991875,40.754437,-73.977230,40.774323,3
26,2011-02-07 20:01:00.000000114,6.50,2011-02-07 20:01:00,0.000000,0.000000,0.000000,0.000000,1
27,2011-06-28 19:47:00.000000168,4.50,2011-06-28 19:47:00,-73.988893,40.760160,-73.986445,40.757857,3
28,2012-05-04 06:11:20.0000002,9.30,2012-05-04 06:11:20,-73.989258,40.690835,-74.004133,40.725690,1
29,2013-08-11 00:52:00.00000026,4.50,2013-08-11 00:52:00,-73.981020,40.737760,-73.980668,40.730497,2
...,...,...,...,...,...,...,...,...
70,2009-08-02 02:34:11.0000002,6.90,2009-08-02 02:34:11,-73.995781,40.723411,-74.005004,40.718950,2
71,2010-01-31 10:53:00.00000010,3.70,2010-01-31 10:53:00,-74.001630,40.730767,-73.997112,40.737533,1
72,2010-05-14 08:09:00.000000210,6.90,2010-05-14 08:09:00,-73.955118,40.768942,-73.963495,40.761887,2
73,2012-05-21 15:20:00.00000017,10.10,2012-05-21 15:20:00,-73.977788,40.771838,-73.966200,40.778113,2
74,2014-12-08 16:00:01.0000001,16.50,2014-12-08 16:00:01,-73.982800,40.745287,-74.014250,40.702935,1
75,2010-08-16 01:33:00.00000034,15.07,2010-08-16 01:33:00,-73.961933,40.795585,-73.962253,40.764817,2
76,2010-12-04 14:26:13.0000003,7.70,2010-12-04 14:26:13,-73.996601,40.736569,-73.982152,40.744322,1
77,2011-08-12 04:20:00.00000015,24.90,2011-08-12 04:20:00,-74.006662,40.731210,-73.925940,40.825588,1
78,2013-02-06 22:16:00.00000028,7.00,2013-02-06 22:16:00,-73.988425,40.764342,-74.001642,40.745752,2
79,2014-06-11 22:24:21.0000001,8.50,2014-06-11 22:24:21,-73.994128,40.735087,-73.986393,40.751461,1
80,2010-08-19 16:33:00.000000131,5.70,2010-08-19 16:33:00,-73.973830,40.763717,-73.989420,40.771522,1
81,2013-03-10 15:44:00.00000040,5.00,2013-03-10 15:44:00,-74.013360,40.702272,-74.016990,40.709245,1
82,2013-06-14 08:27:43.0000001,8.50,2013-06-14 08:27:43,-73.953710,40.790813,-73.957015,40.777676,1
83,2013-07-08 21:24:00.00000048,17.00,2013-07-08 21:24:00,-74.009728,40.705167,-73.970897,40.749307,1
84,2014-03-21 11:00:29.0000003,8.00,2014-03-21 11:00:29,-73.950688,40.828531,-73.964101,40.808140,1
85,2014-10-02 13:39:56.0000004,12.00,2014-10-02 13:39:56,-73.995387,40.749482,-73.975789,40.748741,1
86,2011-08-31 08:21:47.0000004,12.50,2011-08-31 08:21:47,-73.917399,40.746485,-73.973756,40.763836,1
87,2014-05-19 06:26:00.00000034,7.50,2014-05-19 06:26:00,-73.990815,40.730495,-73.978337,40.751085,1
88,2012-04-05 05:50:00.00000019,6.90,2012-04-05 05:50:00,-74.007443,40.732547,-73.991112,40.742312,5
89,2015-03-04 14:55:40.0000006,5.00,2015-03-04 14:55:40,-73.988747,40.744953,-73.995682,40.744221,2
90,2010-04-27 21:40:07.0000004,10.50,2010-04-27 21:40:07,-74.001135,40.730979,-73.984424,40.764630,1
91,2011-02-22 11:09:16.0000004,7.70,2011-02-22 11:09:16,-73.968881,40.764533,-73.985311,40.748956,1
92,2015-04-03 16:21:30.0000005,11.00,2015-04-03 16:21:30,-73.981056,40.774265,-73.959045,40.780674,2
93,2009-01-09 15:01:20.0000002,5.70,2009-01-09 15:01:20,-73.992826,40.751271,-73.982786,40.742432,1
94,2013-01-09 14:42:00.000000194,9.00,2013-01-09 14:42:00,-73.946852,40.775802,-73.964340,40.760703,1
95,2013-07-06 17:18:00.000000119,13.50,2013-07-06 17:18:00,-73.950655,40.783282,-73.984365,40.769802,1
96,2013-10-08 17:29:00.00000025,7.50,2013-10-08 17:29:00,-73.976512,40.765277,-73.977672,40.778052,1
97,2014-12-07 12:26:00.0000009,9.00,2014-12-07 12:26:00,-73.984977,40.752122,-74.000925,40.757982,1
98,2015-05-17 08:02:59.0000002,14.00,2015-05-17 08:02:59,-73.979210,40.723682,-74.017464,40.711395,1
99,2011-06-09 00:53:00.00000066,5.70,2011-06-09 00:53:00,-73.983052,40.722588,-73.988022,40.733738,3

In [98]:
df_train.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,9.79380,-71.761885,39.526074,-71.760590,39.530301,1.710000
std,7.48924,12.683871,6.986231,12.683642,6.987004,1.335566
min,3.30000,-74.016048,0.000000,-74.017723,0.000000,1.000000
25%,5.45000,-73.995246,40.732329,-73.991547,40.734717,1.000000
50%,7.60000,-73.984622,40.746348,-73.982934,40.751273,1.000000
75%,11.12500,-73.972382,40.761683,-73.972649,40.764823,2.000000
max,58.00000,0.000000,40.828531,0.000000,40.851567,6.000000

In [117]:
CSV_COLUMNS = ['key',
               'fare_amount',
               'pickup_datetime',
               'pickup_longitude',
               'pickup_latitude',
               'dropoff_longitude',
               'dropoff_latitude',
               'passenger_count']

LABEL_COLUMN = 'fare_amount' # 'pickup_datetime' #

DEFAULTS = [['NoKey'],
            [0.0],
            ['BadDate'],
            [-74.0],
            [40.0],
            [-74.0],
            [40.7],
            [1.0]]

TRAIN_TEST_SPLIT_RATIO = 0.8

def read_dataset(filename, mode, header_lines = 1):

    dataset = tf.data.TextLineDataset(filenames=filename).skip(header_lines)

    def parse_batch(single_batch):
        
        if mode == tf.estimator.ModeKeys.PREDICT:
            
            # Test dataset does not have Label Column
            columns = tf.decode_csv(single_batch, record_defaults = DEFAULTS[:1] + DEFAULTS[2:])
            features = dict(zip(CSV_COLUMNS[:1] + CSV_COLUMNS[2:], columns))
            label = None # features.pop(LABEL_COLUMN) #
            
        else:
            
            columns = tf.decode_csv(single_batch, record_defaults = DEFAULTS)
            
            split_location = int(BATCH_SIZE * TRAIN_TEST_SPLIT_RATIO)
            
            if mode == tf.estimator.ModeKeys.TRAIN:
                columns = columns[split_location:]
                
            elif mode == tf.estimator.ModeKeys.EVAL:
                columns = columns[:split_location]
            
            features = dict(zip(CSV_COLUMNS, columns))
            label = features.pop(LABEL_COLUMN)
            
        return features, label

    # Shard dataset into batches
    dataset = dataset.batch(BATCH_SIZE)
    
    # Parse batches individually
    dataset = dataset.map(parse_batch)
                                                                                  
    return dataset

def get_train():
  return read_dataset('../input/train.csv', mode = tf.estimator.ModeKeys.TRAIN)

def get_valid():
  return read_dataset('../input/train.csv', mode = tf.estimator.ModeKeys.EVAL)

def get_test():
  return read_dataset('../input/test.csv', mode = tf.estimator.ModeKeys.PREDICT)

In [124]:
def read_csv(filename):
    lineNumber = 0
    with open(filename, 'r') as f:
        for line in f.readlines():
            lineNumber = lineNumber + 1
            record = line.rstrip().split(',')
            features = record[1]
            label = record[1]
            if lineNumber > 1:
                yield features, label

def get_dataset():
    filename = '../input/train.csv'
    generator = lambda: read_csv(filename)
    return tf.data.Dataset.from_generator(generator, (tf.float32, tf.float32))

In [125]:
csv_filename_ = '../input/train.csv'
header_lines_ = 1
delim_ = ','

with tf.Session() as tld_sess:
    tld_sess.run(tf.global_variables_initializer())
    #try:
    print('--- TRAIN DATASET -------------------')

    tld = get_dataset()
    tld_next = tld.make_one_shot_iterator().get_next()
    for x in range(BATCH_SIZE-1):
        tld_features, tld_label = tld_sess.run(tld_next)
        #print('-----------------------')
        #print(tld_features)
        print('-----------------------')
        print(tld_label)
        print('-----------------------')

    print('--- TEST DATASET --------------------')
    tlt = get_dataset()
    tlt_next = tlt.make_one_shot_iterator().get_next()
    for x in range(BATCH_SIZE-1):
        tld_features, tld_label = tld_sess.run(tlt_next)
        #print('-----------------------')
        #print(tld_features)
        print('-----------------------')
        print(tld_label)
        print('-----------------------')
    #except Exception as e:
    #    print('Failed: '+ str(e))

--- TRAIN DATASET -------------------
-----------------------
4.5
-----------------------
-----------------------
16.9
-----------------------

OutOfRangeError: End of sequence
	 [[Node: IteratorGetNext_10 = IteratorGetNext[output_shapes=[<unknown>, <unknown>], output_types=[DT_FLOAT, DT_FLOAT], _device="/job:localhost/replica:0/task:0/device:CPU:0"](OneShotIterator_10)]]

Caused by op 'IteratorGetNext_10', defined at:
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\traitlets\config\application.py", line 658, in launch_instance
    app.start()
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel\kernelapp.py", line 497, in start
    self.io_loop.start()
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\tornado\platform\asyncio.py", line 132, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\asyncio\base_events.py", line 422, in run_forever
    self._run_once()
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\asyncio\base_events.py", line 1434, in _run_once
    handle._run()
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\asyncio\events.py", line 145, in _run
    self._callback(*self._args)
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\tornado\platform\asyncio.py", line 122, in _handle_events
    handler_func(fileobj, events)
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\tornado\stack_context.py", line 300, in null_wrapper
    return fn(*args, **kwargs)
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\zmq\eventloop\zmqstream.py", line 450, in _handle_events
    self._handle_recv()
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\zmq\eventloop\zmqstream.py", line 480, in _handle_recv
    self._run_callback(callback, msg)
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\zmq\eventloop\zmqstream.py", line 432, in _run_callback
    callback(*args, **kwargs)
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\tornado\stack_context.py", line 300, in null_wrapper
    return fn(*args, **kwargs)
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel\kernelbase.py", line 283, in dispatcher
    return self.dispatch_shell(stream, msg)
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel\kernelbase.py", line 233, in dispatch_shell
    handler(stream, idents, msg)
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel\kernelbase.py", line 399, in execute_request
    user_expressions, allow_stdin)
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel\ipkernel.py", line 208, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel\zmqshell.py", line 537, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py", line 2662, in run_cell
    raw_cell, store_history, silent, shell_futures)
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py", line 2785, in _run_cell
    interactivity=interactivity, compiler=compiler, result=result)
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py", line 2901, in run_ast_nodes
    if self.run_code(code, result):
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py", line 2961, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-125-69ce85a41a44>", line 11, in <module>
    tld_next = tld.make_one_shot_iterator().get_next()
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\data\ops\iterator_ops.py", line 410, in get_next
    name=name)), self._output_types,
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\ops\gen_dataset_ops.py", line 2069, in iterator_get_next
    output_shapes=output_shapes, name=name)
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\op_def_library.py", line 787, in _apply_op_helper
    op_def=op_def)
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\util\deprecation.py", line 454, in new_func
    return func(*args, **kwargs)
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\ops.py", line 3155, in create_op
    op_def=op_def)
  File "C:\Users\mistr\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\ops.py", line 1717, in __init__
    self._traceback = tf_stack.extract_stack()

OutOfRangeError (see above for traceback): End of sequence
	 [[Node: IteratorGetNext_10 = IteratorGetNext[output_shapes=[<unknown>, <unknown>], output_types=[DT_FLOAT, DT_FLOAT], _device="/job:localhost/replica:0/task:0/device:CPU:0"](OneShotIterator_10)]]